# ERP login (use quotes if a value has spaces or special symbols)
ERP_USER_ID=23AB1CD99
ERP_PASSWORD="@123456"

# Security question answers. The ERP randomly shows one of your 3 predefined
# questions on each login. For each, SECQ_QUESTION_N is a case-insensitive
# string that matches the question text shown on the page (e.g.
# "favourite pet", "school", "birth"), and SECQ_ANSWER_N is your answer.
SECQ_QUESTION_1="Favourite Pet"
SECQ_ANSWER_1="dog"
SECQ_QUESTION_2="Language"
SECQ_ANSWER_2="c plus plus"
SECQ_QUESTION_3="Food"
SECQ_ANSWER_3="biryani"

# IMAP (for auto-fetching the OTP mail). For Gmail, 2FA must be enabled
# to generate and use an App Password: https://myaccount.google.com/apppasswords

# Paste IMAP_APP_PASSWORD without spaces

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_EMAIL=example@gmail.com
IMAP_APP_PASSWORD=ufhdjdbspovksnaj

